body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-transform: uppercase;

	background-color: #212121;
	background-image: url(../img/main-bg.png);
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 74px;
}

.header-wrapper {
	width: 100%;
	background-color: #000;
	margin-bottom: 60px;
}

.conteiner {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.site-nav {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.user-nav {
	padding: 0;
	margin: 0;
}

.logo {
	order: 2;

}

.button {
	color: #fff;
	background-color: #000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	padding: 10px 35px;
}

.button:hover,
.button:focus {
	background: #663d15;
}

.site-nav li,
.user-nav {
	list-style: none;
}

.site-nav a,
.user-nav a {
	display: block;
	padding: 25px 20px;
	color: #fff;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
	background-color: #242424;
}

.user-nav a {
	position: relative;
	display: block;
	padding-left: 50px;
}

.user-nav a:before {
	content: '';
	width: 14px;
	height: 14px;
	top: 29px;
	left: 25px;
	opacity: 0.3;
	position: absolute;
	background-image: url(../img/logiт-user.svg);
	background-repeat: no-repeat;
}

.user-nav a:hover:before {
	opacity: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features h3 {
	position: relative;
	font-size: 30px;
	line-height: 42px;
	padding: 0;
	margin: 0;
	margin-bottom: 65px;
}

.features h3:after {
	position: absolute;
	left: 50%;
	bottom: -28px;
	margin-left: -10px;
	transform: rotate(45deg);
	content: '';
	width: 20px;
	height: 20px;
	background-color: #fff;
}

.features {
	margin-bottom: 85px;
}

.features-list {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	display: flex;
}

.news-block {
	background-color: #f8f5f2;
	background-image: url(../img/shadow-bg.png),
						url(../img/news-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;
}

.news-list {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.news-block h2 {
	font-size: 30px;
	line-height: 42px;
	color: #000;
	margin: 0;
	margin-bottom: 21px;
}

.news-item p {
	margin: 0;
	padding: 0;
}

.news li {
	list-style: none;
	color: #000;
	margin-bottom: 24px;
}

.news time {
	text-transform: none;
}

.gallery-content {
	border: 7px solid #fff;
	margin: 0;
	padding: 0;
	max-height: 165px;
	margin-bottom: 40px;
}

.gallery {
	position: relative;
}

.gallery-button-next {
	position: absolute;
	right: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.gallery-button-back {
	position: absolute;
	left: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.contact-block {
	background-color: #f8f5f2;
	background-image: url(../img/shadow-bg.png),
					url(../img/news-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 55px 80px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
}

.feedback {
	margin-left: 15px;
}

.contact-block h2{
	color: #000;
	font-size: 30px;
	line-height: 42px;
}

.contact-block p {
	color: #000;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.apointment {
	width: 300px;
}

.contact h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.apointment h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.appointment-item {
	padding: 0;
	margin: 0;
}

.appointment-item label {
	display: block;
	padding-left: 15px;
	margin-bottom: 10px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-form .button {
	margin: 0;
	margin-top: 10px;
	display: block;
	width: 100%;
}

.appointment-item input {
	font: inherit;
	box-sizing: border-box;
	display: block;
	padding: 0;
	margin: 0;
	padding-left: 15px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 7px;
	width: 140px;
	border: 2px solid #000;
	background-color: transparent;
}

.appointment-item input:hover,
.appointment-item input:focus {
	border-color: #663d15;
}

footer {
	background-color: #262626;
	background-image: url(../img/footer-bg.jpg);
	color: #fff;
}

footer .conteiner {
	display: flex;
}

footer p {
	margin: 0;
	padding: 0;
	margin-top: 55px;
	margin-bottom: 45px;
}

.footer-social {
	width: 141px;
	margin-top: 55px;
	text-align: center;
	margin-left: 90px;
}

.footer-social b {
	display: block;
	margin-bottom: 15px;
}

.footer-social ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 43px;
	background-color: #000;
}

.social-button:hover,
.social-button:focus {
	background-color: #fff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #000;
}

.footer-copyright {
	text-align: center;
	margin-left: auto;
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button {
	display: block;
}

.how {
	text-decoration: underline;
	color: #fff;
}

.how:hover,
.how:focus {
	text-decoration: none;
}

.footer-social li {
	list-style: none;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	background: #fff;
	color: #000;
}

.modal {
	background-color: #f6f3f0;
	background-image: url(../img/news-bg.png);
	color: #000;
}

.modal h2 {
	font-size: 30px;
	line-height: 42px;
	padding: 0;
	margin: 0;
}

.login-form input {
	font: inherit;
	border: 2px solid #000;
	background-color: transparent;
}

.login-form input:hover,
.login-form  input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	text-decoration: underline;
	color: #000;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

.modal-map p {
	border: 2px solid #fff;
}

.item-page {
	background-color: #fff;
	background-image: url(../img/item-page-bg.png);
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;

	color: #000;
}

.other-header {
	background-color: #000;
}

.other-header .conteiner {
	display: flex;
}

.other-header .logo{
	order: 0;
	margin-right: 20px;
}

.other-header {
	margin-bottom: 42px;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	display: flex;
	margin-bottom: 55px;
}

.breadcrumbs li {
	list-style: none;
	margin-left: 15px;
}

.breadcrumbs li:not(.breadcrumbs-current):after {
	content: '';
	transform: rotate(45deg);
	display: inline-block;
	margin-left: 17px;	
	width: 8px;
	height: 8px;
	background-color: #000;
}

.breadcrumbs li:first-child {
	margin: 0;
}

.breadcrumbs a {
	color: #000;
}

.breadcrumbs-current,
.product-article {
	color: #aba9a7;
}

.product-photos {
	display: flex;
	flex-direction: column;
}

.product-photos-full {
	margin: 0;
	padding: 0;
	margin-bottom: 13px;
}

.product-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.product-photos-preview {
	display: flex;
	width: 460px;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

.product-photos-preview li{
	list-style: none;
}

.product-price {
	font-size: 0;
	margin-bottom: 65px;
}

.product-price .button {
	font-size: 14px;
}

.product-price b {
	background-color: #e5e5e5;
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 34px;
}

.product-text {
	padding: 0;
	margin: 0;
	width: 390px;
	margin-bottom: 35px;
}

.product-info h3 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}

.product-info ul {
	padding: 0;
	margin: 0;
}

.product-info li:before {
	content: '';
	display: inline-block;
	transform: rotate(45deg);
	margin-right: 13px;
	width: 8px;
	height: 8px;
	background-color: #000;
}

.articul-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.articul-wrapper p {
	margin: 0;
	padding: 0;
}

.price h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-bottom: 63px;
	font-size: 48px;
}

.price h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
	font-size: 30px;
}

.features-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.about-us {
	width: 390px;
}

.price-list p {
	width: 380px;
}

.price-list h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 35px;
}

.product-info li {
	list-style: none;
}

.features-us-item-list {
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
}

.features-us-item h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}

.about-us h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 32px;
}

.features-us-item-list li {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.features-us-item-list li:last-child {
	margin-bottom: 0;
}

.features-us-item-list li:before {
	content: '';
	display: inline-block;
	margin-right: 15px;
	transform: rotate(45deg);
	width: 8px;
	height: 8px;
	background-color: #000;
}

.price-table {
border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
width: 100%;
padding: 0;
margin: 0;
margin-bottom: 107px;
}

.price-table th,
.price-table td {
	padding: 10px 0;
	padding-left: 19px;
	border: 2px solid #000;
}

.filters-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.filters {
	width: 338px;
}

.filters-form ul {
	padding: 0;
	margin: 0;
}

.filters-form legend {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}

.filter-wrapper {
	display: flex;
	justify-content: space-between;
}

.filters-form li {
	list-style: none;
	margin-bottom: 15px;
}

.filters-form li:last-child {
	margin-bottom: 45px;
}

.filter-option label {
	line-height: 18px;
}

.filter-option label:hover,
.filter-option label:focus,
.filter-group-option label:hover,
.filter-group-option label:focus {
	color: #663d15;
}

.catalog-list {
	padding: 0;
	margin: 0;
	padding-top: 6px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-category,
.catalog-item-title {
	display: block;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 220px;
}

.catalog-item h3 {
	padding: 0;
	margin: 0;
	margin-top: 13px;
	margin-left: 16px;
	margin-bottom: 13px;
}

.catalog-item-image {
	padding: 0;
	margin: 0;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(4) {
	margin-left: 65px;
}



.catalog-item a {
	color: #000;
	order: 2;
}

.catalog-item-price {
	font-size: 0;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	margin-bottom: 15px;
	order: 3;
}

.catalog-item-price a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}

.catalog-item-price b {
	background-color: #e5e5e5;
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 34px;
}
}

.catalog-item a {
	color: #000;
}

.catalog-item span:nth-child(1) {
	text-transform: none;
}

.catalog-item-price b {
	background-color: #e6e6e6;
	text-align: center;
}

.item-page .button {
	color: #fff;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 25px;
	margin-left: 65px;
	margin-bottom: 50px;
}

.pagination-item {
	list-style: none;
}

.pagination-item a {
	color: #fff;
	margin-right: 7px;
	padding: 12px 16px;
	background-color: #000;
}

.pagination-item:nth-child(2) a{
	background-color: #ffffff;
	color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus
{
	background-color: #663d15;
}